 * {
     margin: 20px;
 }

 nav>ul>li {
     display: inline;
     text-decoration: none;
     margin-right: 15px;
 }

 nav>ul {
     display: flex;
 }

 nav li>a {
     text-decoration: none;
 }

 nav {
     text-align: center;
 }

 footer {
     text-align: center;
 }

 nav ul li:hover {
     background-color: aqua;
     border-radius: 4px;
 }

 /* nested menu styles */
 nav li .dropdown {
     display: none;
     position: absolute;
     background-color: lightyellow;
     padding: 2px;
     margin: 2px;
     list-style: none;

 }

 nav li:hover>.dropdown {
     display: block;

 }