 * {
     margin: 20px;
 }

 nav>ul>li {
     display: inline;
     text-decoration: none;
     margin-right: 15px;
 }

 nav li>a {
     text-decoration: none;
 }

 nav {
     text-align: center;
 }

 footer {
     text-align: center;
 }

 /* nested menu styles */
 nav li .dropdown {
display: none;
 }


 /* table css */

nav ul li {
    display: inline;
    margin-right: 30px;
    
}

nav ul li:hover {
    background-color: aqua;
    border-radius: 4px;    
}

nav li a {
    text-decoration: none;
}



/* form css */

* {}

label {
    display: block;
    margin-bottom: 10px;
}

nav>ul>li {
    display: inline;
    text-decoration: none;
    margin-right: 15px;
}

nav {
    text-decoration: none;
    justify-self: center;

}

.div1 {
    border: 5px solid rgb(56, 252, 56);
    border-radius: 20px;
    padding: 50px;
    margin: 15px;
    height: 700px;
    width: 700px;
    justify-content: center;
    justify-self: center;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
}
