.parent {
    padding: 25px;
    background-color: aquamarine;
    display: flex;
    gap: 50px;
    justify-content: center;
    /* height: 400px; */
    /* width: ; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.child {
    border: 2px solid rgb(238, 45, 45);
    border-radius: 30px;
    padding: 20px;
    background-color: cornsilk;
    font-size: 20px;
}