.div1 {
    border: 5px solid rgb(56, 252, 56);
    border-radius: 20px;
    padding: 50px;
    margin: 15px;
    height: 700px;
    width: 700px;
    justify-content: center;
    justify-self: center;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}